<a href="https://colab.research.google.com/github/Lakhan07AU/lakhan_assignment_of_python/blob/main/lakhanpythonassignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#question 1:arthmetic operators
a=int(input("enter first number:"))
b=int(input("enter second number:"))
addition=a+b
print("addition:",a+b)
subtraction=a-b
print("substraction:",a-b)
multiplication=a*b
print("multiplication:",a*b)
division=a/b
print("division:",a/b)
floor_divison=a//b
print("floor_division:",a//b)
modulus=a%b
print("modulus:",a%b)
exponent=a**b
print("exponent:",a**b)

enter first number:10
enter second number:3
addition: 13
substraction: 7
multiplication: 30
division: 3.3333333333333335
floor_division: 3
modulus: 1
exponent: 1000

In [ ]:
#question2:comparison operators
a=int(input("enter first number:"))
b=int(input("enter second number:"))
if a>b:
  print("first number is greater than second number")
elif a==b:
    print("first number is equal to second number")
elif a<=b:
    print("first number is less than or equal to second number")

enter first number:8
enter second number:8
first number is equal to second number

In [ ]:
#question 3:logical operator bollean
a=True
b=False
c=True
print(a and b)
print(a and c)
print(b and c)
print(b or a)
print(a or c)
print(b or c)
print(not a)
print(not b)
print(not c)

False
True
False
True
True
True
False
True
False

In [ ]:
#question 4: string manipulation
a=input("Enter The string name")
print(len(a))
print(a[0],a[-1])
print(a[::-1])
print(a.upper())
print(a.lower())

Enter The string nameRAM LAKHAN
11
R
 NAHKAL MAR
RAM LAKHAN
ram lakhan

In [ ]:
#question 5:string formatting
name=input("Enter The name : ")
age=int(input("Enter The age : "))
print("hello",name,"you are",age,"years old")

Enter The name : Lakhan SINGH
Enter The age : 18
hello Lakhan SINGH you are 18 years old

In [ ]:

#problem number 6 substring searching
a=input("Write a sentence:")
b=input("Enter the word you want to search for:")
if b in a:
          print(f"The word'{b}'is in the position:'{a.index(b)}' ")
elif b not in a:
    print("the word does not exist")

Write a sentence:my laptop name is acer aspire 7
Enter the word you want to search for:aspire
The word'aspire'is in the position:'23'

In [ ]:
#program no 7 list operations
a=int(input("enter the number 1:"))
b=int(input("enter the number 2:"))
c=int(input("enter the number 3:"))
d=int(input("enter the number 4:"))
e=int(input("enter the number 5:"))
f=(a,b,c,d,e)
print([f])
print(sum(f))
print(max(f))
print(min(f))

enter the number 1:6
enter the number 2:6
enter the number 3:75
enter the number 4:45
enter the number 5:5
[(6, 6, 75, 45,5)]
132
75
5

In [ ]:
#question 8 : list manipulation
fruits=["litchi","orange","kiwi","mango","banana"]
fruits.append("apple")
fruits.pop(1)
print(fruits)

['litchi', 'kiwi', 'mango', 'banana', 'apple']

In [ ]:
#question 9: sorting a list
numbers=input("Enter five numbers separated by space: ")
numbers=[int(x) for x in numbers.split()]
#ascending order
numbers.sort()
print("ascending order:", numbers)
#desending order
numbers.sort(reverse=True)
print("descending order:", numbers)

Enter five numbers separated by space: 8784 9384 8999 928 938
ascending order: [928, 938, 8784, 8999, 9384]
descending order: [9384, 8999, 8784, 938, 928]

In [ ]:
#question 10 :list slicing
num=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(num[:5])
print(num[5:])
print(num[1:8])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8]

In [ ]:
student=input("enter the name of student 1 :")
m11=float(input("enter the marks of student in subject 1:"))
m12=float(input("enter the marks of student in subject 2:"))
m13=float(input("enter the marks of student in subject 3:"))
total_marks_of_student_1=(m11+m12+m13)
student2=input("enter the name of student 2 :")
m21=float(input("enter the marks of student in subject 1:"))55
m22=float(input("enter the marks of student in subject 2:"))
m23=float(input("enter the marks of student in subject 3:"))
total_marks_of_student_2=(m21+m22+m23)
student3=input("enter the name of student 3 :")
m31=float(input("enter the marks of student in subject 1:"))
m32=float(input("enter the marks of student in subject 2:"))
m33=float(input("enter the marks of student in subject 3:"))
total_marks_of_student_3=(m31+m32+m33)
average=total_marks_of_student_3//3
print("the average marks of",student,"is",total_marks_of_student_1//3)
print("the average marks of",student2,"is",total_marks_of_student_2//3)
print("the average marks of",student3,"is:",total_marks_of_student_3//3)

enter the name of student 1 :lakhan singh
enter the marks of student in subject 1:40
enter the marks of student in subject 2:45
enter the marks of student in subject 3:41
enter the name of student 2 :vivek singh
enter the marks of student in subject 1:45
enter the marks of student in subject 2:49
enter the marks of student in subject 3:50
enter the name of student 3 :anshuman singh
enter the marks of student in subject 1:50
enter the marks of student in subject 2:50
enter the marks of student in subject 3:50
the average marks of lakhan singh is 42.0
the average marks of vivek singh is 48.0
the average marks of anshuman singh is: 50.0